form {
    background: rgba(28, 138, 219, 0.05);
    padding: 40px;
    border-radius: 5px;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.form-button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}