.row-graph {
    width: 100%;
    display: flex;
    justify-content: center;
}
.container-graph{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;  
    background: rgba(28, 138, 219, 0.46);
    flex-direction: column;
}